html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #070A1B;
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

